<div id="GameWelcome" class="root-container bright-blue">
	<h1 class="bright-orange"><i>--- INCOMING TRANSMISSION ---</i></h2>
	<h2>> Welcome Convict n°{{$root.currentUser.collar}},</h2>
	<p>>> You have been selected by the Federal Penal Extraction Service.</p>
	<p>>> Your slam-capsule is now transfered to your new workplace.</p>
	<p>>> Please, keep calm during the transfer.</p>
	<p>>> Please, refer to the M.I.N.E.R instruction book at your right side.</p>
	<p>>> Your excavation equipment will be landed soon.</p>
	<p>> For Federation, For Peace.</p>
	<p>— The Overseer</p>
	<h1 class="bright-red"><i>--- END OF TRANSMISSION ---</i></h1>
	<div class="discard">
		<button type="button" ng-click="discardWelcome()">DISCARD</button>
	</div>
</div>