#ConnectContainer {
	text-align: center
}

#ConnectContainer form {
	display: inline-block;
	height: 500px;
	text-align: left;
	margin-top: 200px;
}

#ConnectContainer form div.status-msg {
	display: inline-block;
	height: 30px;
	margin-bottom: 15px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}


#ConnectContainer form label {
	font-size: 20px;
}

#ConnectContainer form label.desc {
	width: 200px;
	display: inline-block;
	margin: 14px;
}

#ConnectContainer form input[type="text"], #ConnectContainer form input[type="password"] {
	width: 275px;
	height: 25px;
	background-color: rgba(100, 100, 100, 0.3);
	border: 3px solid rgba(1, 176, 240, 0.3);
	color: #01B0F0;
	font-size: 15px;
	padding: 3px;
	padding-left: 10px;
}

#ConnectContainer form button {
	border: 6px solid rgba(91, 142, 193, 0.3);
	width: 175px;
	margin: 50px;
	background-color: transparent;
	padding: 20px;
	font-size: 20px;
	color: rgba(91, 142, 193, 0.3);
	font-weight: bold;
	border-radius: 15px;
	cursor: pointer;
}

#ConnectContainer form button:hover {
	border: 6px solid rgba(1, 176, 240, 0.3);
	color: rgba(1, 176, 240, 0.3);
}

#ConnectContainer form button:disabled {
	border: 6px solid rgba(100, 100, 100, 0.3);
	color: rgba(100, 100, 100, 0.3);
}

#ConnectContainer form div.input-group {
	display: inline-block;
	position: relative;
}

#ConnectContainer form span.form-error {
	font-size: 17px;
	position: absolute;
	display: inline-block;
	width: 250px;
	top: 7px;
	right: -275px;
}