body {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	height: 100%;
	-webkit-user-select: none;
	font-family: electrolize, monospace !important;
}

input, textarea, keygen, select, button {
	font-family: electrolize, monospace !important;
}

#AppContainer {
	height: 1000px;
	background-color: #1d1d1d;
	text-align: center;
}