#StartContainer {
	text-align: center;
}

#toRegister, #toConnect {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 775px;
	margin-right: 50px;
	margin-left: 50px;
}

#StartContainer button.start-button {
	width: 400px;
	height: 150px;
	line-height: 50px;
	text-align: center;
	background: none;
	border: 6px solid rgba(91, 142, 193, 0.3);
	border-radius: 15px;
	font-size: 24px;
	font-weight: bold;
	color: rgba(91, 142, 193, 0.3);
	cursor: pointer;
}