<div id="ConnectContainer">
	<form ng-submit="submitConnect()" name="connectForm" autocomplete="off" novalidate>
		<div class="status-msg">
			<span class="bright-orange" ng-show="status == 1"><i class="fa fa-refresh fa-spin"></i> Please stand-by...</span>
			<span class="bright-green" ng-show="status == 2"><i class="fa fa-check"></i> {{response}}</span>
			<span class="bright-red" ng-show="status == 3"><i class="fa fa-exclamation-triangle"></i> Error : {{response}}</span>
		</div></br>
		<label for="username" class="bright-blue desc">Username:</label>
		<div class="input-group">
			<input type="text" name="username" id="username" ng-model="connectUser.username" required>
			<span class="form-error bright-red" ng-show="connectForm.username.$dirty && connectForm.username.$error.required">Missing information</span>
		</div></br>
		<label for="password" class="bright-blue desc">Password:</label>
		<div class="input-group">
			<input type="password" name="password" id="password" ng-model="connectUser.password" required>
			<span class="form-error bright-red" ng-show="connectForm.password.$dirty && connectForm.password.$error.required">Missing information</span>
		</div></br>
		<button type="button" ui-sref="start">CANCEL</button>
		<button type="submit" ng-disabled="connectForm.$invalid">CONNECT</button>
	</form>
</div>